*{
    margin: 0;
    padding: 0;
    font-family: 'Comfortaa', cursive;
}

/* Home Section Design */

#home{
    
    background: linear-gradient(rgba(0,0,0,0.5),#6153d2), url(img/banner1.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* logo design */

.logo{
    width: 140px;
    position: absolute;
    top: 4%;
    left: 10%;
    
    
}

.home-text{
    text-align: center;
    color: white;
    padding-top: 180px;
}
.home-text h1{
    font-size: 130px;
    font-family: 'Dancing Script', cursive;
}
.home-text p{
    font-size: 20px;
    font-style: italic;
}


 /* Home button design */

.home-btn{
    margin: 70px auto 0;
    
}
.home-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding:12px 0;
    color: white;
    border: .5px solid white;
    position: relative;
    z-index: 1;

}
.home-btn a span{
    width:0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    z-index: -1;
    transition: 0.5s;
}

.home-btn a:hover span{

    width: 100%;

}
.home-btn a:hover {

    color: black;

}

/* Navbar design  */

#navbar{
    width: 250px;
    height: 100vh;
    position: fixed;
    right: -250px;
    top: 0;
    background: #6153d2;
    z-index: 2;
    transition: 0.5s;
}

nav ul li{

    list-style: none;
    margin: 50px 20px;
    
}
nav ul li a{

    text-decoration: none;
    color: white;
}

/* menu button design  */

#menu_btn{
    height: 25px;
    width: 41px;
    padding: 10px 0;
    background: #6153d2;
    text-align: center;
    position: fixed;
    right: 30px;
    top: 20px;
    border-radius: 3px;
    z-index: 3;
    cursor: pointer;

}

#menu_btn img{

    width: 20px;
    margin-top: 20x;
}


/* responsive home section  */

@media screen and (max-width: 770px){

    .home-text h1{
        font-size: 44px;
    }
    .home-btn a{
        display: block;
        margin: 20px auto;
    }

}